[Desktop Entry]
Type=Application
Version=1.0
Name=Merlin
GenericName=Web Browser
Comment=Merlin Browser: unleashing the magic of the internet. Built on Python, C++, Qt and Chromium
Exec=merlin-browser %U
Icon=merlin-browser
Terminal=false
Categories=Network;WebBrowser;
Keywords=browser;internet;web;www;merlin;
StartupNotify=true
StartupWMClass=merlin-browser
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/about;x-scheme-handler/unknown;video/mp4;video/x-matroska;video/quicktime;audio/mpeg;audio/flac;
Actions=private;newwindow;codecs;

[Desktop Action private]
Name=New private window
Exec=merlin-browser --private

[Desktop Action newwindow]
Name=New window
Exec=merlin-browser

[Desktop Action codecs]
Name=Codec report
Exec=merlin-browser --codecs
